.full-circle {
 background-color: rgba(204, 0, 102, 0);
 border: 3px solid #333;
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 margin-top: 10%;
 text-align: center;
 line-height: 150px;
}
.full-circle2 {
 background-color: rgba(204, 0, 102, 0);
 border: 3px solid #333;
 height: 600px;
 width: 600px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 margin-top: 10%;
 text-align: center;
 line-height: 600px;
 border-radius: 50%;
}
.full-circle3 {
 background-color: rgba(204, 0, 102, 0);
 border: 3px solid #333;
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 margin-top: 29%;
 margin-left: 0;
 text-align: center;
 line-height: 150px;
 border-radius: 50%;
}



.innerCircle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0a383f;
    border-radius: 75px;
    top: 30%;
    left: 20%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
}
.innerCircle1 {
  position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0a383f;
    border-radius: 75px;
    top: 30%;
    left: 20%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
}
.innerCircle3 {
      position: absolute;
    width: 264px;
    height: 264px;
   /* background-color: #2a97fe; */
    border-radius: 132px;
    /* top: 40%; */
    left: 10%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 38%;
    margin-left: -7%;
    border: 10px solid blue;
}
.innerCircle42{
	 position: absolute;
    width: 300px;
    height: 300px;
    /*background-image: url('../img/tds3.png');*/
        background-size: cover;
   /*background-color: #2a97fe;*/
    border-radius: 150px;
    /* top: 40%; */
    left: 50%;
   /* box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;*/
    color: white;
    line-height: 65PX;
    margin-top: -59%;
    margin-left: -5%;
    
}
.innerCircle4{
   position: absolute;
    width: 300px;
    height: 300px;
    background-image: url('../img/tds3.png');
        background-size: cover;
   /*background-color: #2a97fe;*/
    border-radius: 150px;
    /* top: 40%; */
    left: 10%;
   /* box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;*/
    color: white;
    line-height: 65PX;
    margin-top: -59%;
    margin-left: -5%;
    
}
  .innerCircle33 {
    position: absolute;
    width: 270px;
    height: 270px;
    /* background-color: #0a383f; */
    border-radius: 135px;
    /* top: 40%; */
    left: 11%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 35%;
    margin-left: -7%;
   /* border: 10px solid blue;*/
    transform: rotate(0deg);
}
.leftSmallpanel{
  margin-top: 16%;
  height: 430px; 
  width: 60px; 
  background-color: #346381;
  float: left;
  margin-left: -52%; 
  cursor: pointer;
}
.rightBigPanel{
  width: 100%;
  height: 420px;
  background-color: #34637f;
  margin-top:43%;
  margin-left: 30%;
}
.leftBigpanel{
  width: 85%;
  height: 420px;
  background-color: #346381;
  position: absolute;
  margin-left: -46%;
  margin-top: 33%;
}
.rightPanelSub{
  width: 54%; 
  height: 360px;
  margin-top: -124%;
  margin-left: 42%;
}
.rightSmallPanel{
  margin-top: -68%;
  height: 420px; 
  width: 65px; 
  background-color: #34637f;
  cursor: pointer;
  position: absolute;
  margin-left: 102%
}
.rightSmallPanel2{
  margin-top: -68%;
  height: 502px; 
  width: 65px; 
  background-color: #34637f;
  cursor: pointer;
  position: absolute;
  margin-left: 102%
}
.leftBigpanel2{
  width: 85%;
  height: 502px;
  background-color: #346381;
  position: absolute;
  margin-left: -46%;
  margin-top: 33%;
}
@media (min-width:1160px){
	.innerCircle3 {
    position: absolute;
    width: 264px;
    height: 264px;
    /* background-color: #0a383f; */
    border-radius: 132px;
    /* top: 40%; */
    left: 12%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 40%;
    margin-left: -7%;
    border: 10px solid blue;
}
}
@media (width:1440px){
.innerCircle3 {
    position: absolute;
    width: 280px;
    height: 280px;
    /* background-color: #0a383f; */
    border-radius: 140px;
    /* top: 40%; */
    left: 14%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 37%;
    margin-left: -7%;
    border: 10px solid blue;
}
.innerCircle4{
	margin-left: -3%;
}
.trueval_content{
	float: left;
    width: 100%;
    height: 20px;
    margin-left: 1%;
    margin-top: 17%;
}
.leftSmallpanel{
  margin-top: 16%;
  height: 430px; 
  width: 60px; 
  background-color: #346381;
  float: left;
  margin-left: -58%; 
  cursor: pointer;
}
.rightBigPanel{
    width: 100%;
    height: 420px;
    background-color: #34637f;
    margin-top: 43%;
    margin-left: 41%;
}
.leftBigpanel{
  width: 85%;
  height: 420px;
  background-color: #346381;
  position: absolute;
  margin-left: -46%;
  margin-top: 33%;
}
.rightPanelSub{
    width: 54%;
    height: 360px;
    margin-top: -124%;
    margin-left: 55%;
}
.rightSmallPanel{
  margin-top: -68%;
  height: 420px; 
  width: 65px; 
  background-color: #34637f;
  cursor: pointer;
  position: absolute;
  margin-left: 107%
}
}
@media (width: 1366px){
	.innerCircle3 {
    position: absolute;
    width: 260px;
    height: 260px;
    /* background-color: #0a383f; */
    border-radius: 130px;
    /* top: 40%; */
    left: 12%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 36%;
    margin-left: -7%;
    border: 5px solid #898a89;
}
}
@media (width: 1280px){
  .leftSmallpanel {
    margin-top: 16%;
    height: 430px;
    width: 60px;
    background-color: #346381;
    float: left;
    margin-left: -45%;
    cursor: pointer;
}
.rightBigPanel {
    width: 100%;
    height: 420px;
    background-color: #34637f;
    margin-top: 43%;
    margin-left: 19%;
}
.rightPanelSub{
        width: 54%;
    height: 360px;
    margin-top: -124%;
    margin-left: 33%;
}
.leftBigpanel{
  width: 85%;
  height: 420px;
  background-color: #346381;
  position: absolute;
  margin-left: -30%;
  margin-top: 33%;
}
.rightSmallPanel{
  margin-top: -68%;
  height: 420px; 
  width: 65px; 
  background-color: #34637f;
  cursor: pointer;
  position: absolute;
  margin-left: 96%
}
}
@media (width: 1366px) and (height: 600px)
{
.innerCircle3 {
    position: absolute;
    width: 268px;
    height: 268px;
    /* background-color: #0a383f; */
    border-radius: 134px;
    /* top: 40%; */
    left: 11%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 36%;
    margin-left: -7%;
    border: 10px solid blue;
}
}
.trueval_content{
	float: left;
    width: 100%;
    height: 20px;
    margin-left: 44%;
    font-size: 26px;
    margin-top: 14%;
}
.trueval_score{
	float: left;
    margin-left: 19%;
    font-size: 69px;
    margin-top: 12%;
}
.innerCircle3 .content {
  position: absolute;
  display: block;
  width: 100%;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.innerCircle .content {
  position: absolute;
  display: block;
  width: 120px;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.innerCircle1 .content {
  position: absolute;
  display: block;
  width: 120px;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}
h1 {
  font-size: 20px;
  margin-left: 30px;
  padding-left: 20px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 4px solid #fff;
  width: 130px;
}




tip-tip .close-button {
  cursor: pointer;
  float: right;
  left: 8%;
  margin-top: -7%;
  padding: 3px;
  position: relative; }

  .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #fff;
}

  .arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-right:  10px solid #fff;
  margin-right: 5px;
}



.pie {
  transition: all 1s;
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 135px;
  clip: rect(0px, 135px, 270px, 0px);
}

.hold {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 135px;
  clip: rect(0px, 158px, 18px, 135px);
  margin-top: 35%;
  margin-left: 1%;
}
#pieSlice {
  border: 10px solid #1d83ff !important;
}

#pieSlice2 {
  transform: rotate(10deg);
}

#pieSlice3 {
  transform: rotate(20deg);
}

#pieSlice4 {
  transform: rotate(30deg);
}
#pieSlice5 {
  transform: rotate(40deg);
}

#pieSlice6 {
  transform: rotate(50deg);
}
#pieSlice7 {
  transform: rotate(60deg);
}

#pieSlice8 {
  transform: rotate(70deg);
}

#pieSlice9 {
  transform: rotate(80deg);
}
#pieSlice10 {
  transform: rotate(90deg);
}

#pieSlice11 {
  transform: rotate(100deg);
}
#pieSlice12 {
  transform: rotate(110deg);
}

#pieSlice13 {
  transform: rotate(120deg);
}

#pieSlice14 {
  transform: rotate(130deg);
}
#pieSlice15 {
  transform: rotate(140deg);
}

#pieSlice16 {
  transform: rotate(150deg);
}
#pieSlice17{
  transform: rotate(160deg);
}

#pieSlice18 {
  transform: rotate(170deg);
}

#pieSlice19 {
  transform: rotate(180deg);
}
#pieSlice20 {
  transform: rotate(190deg);
}

#pieSlice21 {
  transform: rotate(200deg);
}
#pieSlice22 {
  transform: rotate(210deg);
}

#pieSlice23 {
  transform: rotate(220deg);
}

#pieSlice24 {
  transform: rotate(230deg);
}
#pieSlice25 {
  transform: rotate(240deg);
}

#pieSlice26 {
  transform: rotate(250deg);
}
#pieSlice27{
  transform: rotate(260deg);
}

#pieSlice28 {
  transform: rotate(270deg);
}

#pieSlice29 {
  transform: rotate(280deg);
}
#pieSlice30 {
  transform: rotate(290deg);
}
#pieSlice31 {
  transform: rotate(300deg);
}
#pieSlice32 {
  transform: rotate(310deg);
}

#pieSlice33 {
  transform: rotate(320deg);
}

#pieSlice34 {
  transform: rotate(330deg);
}
#pieSlice35 {
  transform: rotate(340deg);
}

#pieSlice36 {
  transform: rotate(350deg);
}