.full-circle {
 background-color: rgba(204, 0, 102, 0);
 border: 3px solid #333;
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 margin-top: 10%;
 text-align: center;
 line-height: 150px;
}
.full-circle2 {
 background-color: rgba(204, 0, 102, 0);
 border: 3px solid #333;
 height: 600px;
 width: 600px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 margin-top: 10%;
 text-align: center;
 line-height: 600px;
 border-radius: 50%;
}
.full-circle3 {
 background-color: rgba(204, 0, 102, 0);
 border: 3px solid #333;
 height: 150px;
 width: 150px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 margin-top: 29%;
 margin-left: 0;
 text-align: center;
 line-height: 150px;
 border-radius: 50%;
}



.innerCircle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0a383f;
    border-radius: 75px;
    top: 30%;
    left: 20%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
}
.innerCircle1 {
  position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0a383f;
    border-radius: 75px;
    top: 30%;
    left: 20%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
}
.innerCircle3 {
      position: absolute;
    width: 264px;
    height: 264px;
   /* background-color: #2a97fe; */
    border-radius: 132px;
    /* top: 40%; */
    left: 10%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 38%;
    margin-left: -7%;
    border: 10px solid blue;
}
.innerCircle4{
	 position: absolute;
    width: 240px;
    height: 240px;
   background-color: #2a97fe;
    border-radius: 120px;
    /* top: 40%; */
    left: 10%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 5%;
    margin-left: -5%;
    
}
  .innerCircle33 {
    position: absolute;
    width: 270px;
    height: 270px;
    /* background-color: #0a383f; */
    border-radius: 135px;
    /* top: 40%; */
    left: 11%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 35%;
    margin-left: -7%;
   /* border: 10px solid blue;*/
    transform: rotate(0deg);
}
@media (min-width:1160px){
	.innerCircle3 {
    position: absolute;
    width: 264px;
    height: 264px;
    /* background-color: #0a383f; */
    border-radius: 132px;
    /* top: 40%; */
    left: 12%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 40%;
    margin-left: -7%;
    border: 10px solid blue;
}
}
@media (width:1440px){
.innerCircle3 {
    position: absolute;
    width: 280px;
    height: 280px;
    /* background-color: #0a383f; */
    border-radius: 140px;
    /* top: 40%; */
    left: 14%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 37%;
    margin-left: -7%;
    border: 10px solid blue;
}
.innerCircle4{
	margin-left: -3%;
}
.trueval_content{
	float: left;
    width: 100%;
    height: 20px;
    margin-left: 1%;
    margin-top: 17%;
}
}
@media (width: 1366px){
	.innerCircle3 {
    position: absolute;
    width: 260px;
    height: 260px;
    /* background-color: #0a383f; */
    border-radius: 130px;
    /* top: 40%; */
    left: 12%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 36%;
    margin-left: -7%;
    border: 5px solid #898a89;
}
}
@media (width: 1366px) and (height: 600px)
{
.innerCircle3 {
    position: absolute;
    width: 268px;
    height: 268px;
    /* background-color: #0a383f; */
    border-radius: 134px;
    /* top: 40%; */
    left: 11%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
    line-height: 65PX;
    margin-top: 36%;
    margin-left: -7%;
    border: 10px solid blue;
}
}
.trueval_content{
	float: left;
    width: 100%;
    height: 20px;
    margin-left: 0%;
    font-size: 26px;
    margin-top: 14%;
}
.trueval_score{
	float: left;
    margin-left: 19%;
    font-size: 69px;
    margin-top: 12%;
}
.innerCircle3 .content {
  position: absolute;
  display: block;
  width: 100%;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.innerCircle .content {
  position: absolute;
  display: block;
  width: 120px;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.innerCircle1 .content {
  position: absolute;
  display: block;
  width: 120px;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}
h1 {
  font-size: 20px;
  margin-left: 30px;
  padding-left: 20px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 4px solid #fff;
  width: 130px;
}




tip-tip .close-button {
  cursor: pointer;
  float: right;
  left: 8%;
  margin-top: -7%;
  padding: 3px;
  position: relative; }

  .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #fff;
}

  .arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-right:  10px solid #fff;
}



.pie {
  transition: all 1s;
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 135px;
  clip: rect(0px, 135px, 270px, 0px);
}

.hold {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 135px;
  clip: rect(0px, 270px, 270px, 135px);
      margin-top: 35%;
    margin-left: 1%;
}

#pieSlice1 .pie {
  background-color: #1b458b;
  transform:rotate(30deg);
}

#pieSlice2 {
  transform: rotate(30deg);
}

#pieSlice2 .pie {
  background-color: #0a0;
  transform: rotate(60deg);
}

#pieSlice3 {
  transform: rotate(90deg);
}

#pieSlice3 .pie {
  background-color: #f80;
  transform: rotate(120deg);
}

#pieSlice4 {
  transform: rotate(210deg);
}

#pieSlice4 .pie {
  background-color: #08f;
  transform: rotate(10deg);
}

#pieSlice5 {
  transform: rotate(220deg);
}

#pieSlice5 .pie {
  background-color: #a04;
  transform: rotate(70deg);
}

#pieSlice6 {
  transform: rotate(290deg);
}

#pieSlice6 .pie {
  background-color: #ffd700;
  transform: rotate(70deg);
}