<div class="container">

    <div class="row" >
      <div class="col-sm-3" align="center">
      </div>
      <div class="col-sm-6" align="center">

        <div class="pieContainer">
          <div class="pieBackground"></div>
          <div id="pieSlice1" class="hold"><div class="pie"></div></div>
          <div id="pieSlice2" class="hold"><div class="pie"></div></div>
          <div id="pieSlice22" class="hold"><div class="pie"></div></div>
          <div id="pieSlice3" class="hold"><div class="pie"></div></div>
          <div id="pieSlice4" class="hold"><div class="pie"></div></div>
          <div id="pieSlice5" class="hold"><div class="pie"></div></div>
          <div id="pieSlice6" class="hold"><div class="pie"></div></div>
          <div id="pieSlice7" class="hold"><div class="pie"></div></div>
          <div id="pieSlice8" class="hold"><div class="pie"></div></div>
          <div class="innerCircle"><div class="content"><b>TRUE VALUE</b></div></div>
        </div>
      </div>
      <div class="col-sm-3" align="center">
      </div>
    </div>
</div>
<style type="text/css">



</style>