<div class="container" style="background: url('img/background-27.jpeg');width: 100%; background-size:cover;min-height: 700px;">

    <div class="row" >
      <div class="col-sm-3" align="center">
        <div style="margin-top: 6%;height: 300px; width: 112px; background-color: #14b6cc;float: left;margin-left: -1%;position: fixed;cursor: pointer;" data-spy="affix">
        <b ng-click="goToAdminPanel();">ADMIN PANEL</b>
        </div>

      </div>
      <div class="col-sm-6" align="center">

        <div class="pieContainer">
          <div class="pieBackground"></div>
          <div id="pieSlice1" class="hold" ><div class="pie" ></div></div>
          <div id="pieSlice2" class="hold" tooltips tooltip-template="1.1"><div class="pie"></div></div>
          <div id="pieSlice22" class="hold" tooltips tooltip-template="2.6"><div class="pie"></div></div>
          <div id="pieSlice3" class="hold" tooltips tooltip-template="5.8"><div class="pie"></div></div>
          <div id="pieSlice4" class="hold" tooltips tooltip-template="11.8"><div class="pie"></div></div>
          <div id="pieSlice5" class="hold" tooltips tooltip-template="1.5"><div class="pie"></div></div>
          <div id="pieSlice6" class="hold" tooltips tooltip-template="3.33"><div class="pie"></div></div>
          <div id="pieSlice7" class="hold" tooltips tooltip-template="12.9"><div class="pie"></div></div>
          <div id="pieSlice8" class="hold"  tooltips tooltip-template="4.5"><div class="pie" ></div></div>
          <div class="innerCircle"><div class="content"><b style="float: left;width:100%;height: 20px;margin-left: 12%;">TRUE&trade; VALUE</b><b style="float: left;margin-left: 54%;font-size: 24px">{{truescore}}</b></div></div>
        </div>
      </div>
      <div class="col-sm-3" align="right">
        <div  style="width: 50%; height: 360px;margin-top: 20%;">
          <div class="row" style="height: 40px;background-color: #1b458b;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">PUE</b>
          </div>
          <div class="row" style="height: 40px;background-color: #8BC5EB;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">Location</b>
          </div>
          <div class="row" style="height: 40px;background-color: #253651;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">GHG</b>
          </div>
          <div class="row" style="height: 40px;background-color: #14b6cc;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">CO2</b>
          </div>
          <div class="row" style="height: 40px;background-color: #144e56;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">WUE</b>
          </div>
          <div class="row" style="height: 40px;background-color: #83a3a8;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">Availability</b>
          </div>
          <div class="row" style="height: 40px;background-color: #7fedff;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">Compute</b>
          </div>
          <div class="row" style="height: 40px;background-color: #2986AF;text-align: center;line-height: 40px;margin-top: 5px;">
            <b style="color: black">Storage</b>
          </div>
        </div>
      </div>
    </div>
</div>
<style type="text/css">



</style>